*.egg-info
**__pycache__
output/
.idea*
point_clouds*
csf_setup.sh
lucy.ply
quadric-mesh-simplification/
resources/results/
fast_point_cloud_sampling/
eigen-git-mirror/
Open3D/
cgal/
*.ply
other_datasets/
resources/clouds/DynamicFAUST/
resources/new/
add_noise.py
download_datasets.py